<!DOCTYPE html>
<html lang="en">
{% extends 'foodbornePathogen/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Pipeline Information</title>
</head>
<body>
{% block content %}
	<main>
	<div class="home-intro text-center">
				<h2 class="welcome-title animated fadeInLeft">Pipeline Information</h2>
				<p class="animated fadeInRight">This foodborne pathogen analysis pipeline performs genomics analysis on <i>C. jejuni</i> isolates. The full pipeline contains these four steps: genome analysis, gene prediction, functional annotation, and comparative genomics. The pipeline can be run in full, as individual steps, or as any consecutive combination of steps.</p>
				<h2 class="welcome-title animated fadeInLeft">Instructions</h2>
				<p class="animated fadeInRight">1. Access the pipeline steps you would like to run using the Run Pipeline button. <br></br>2. Enter your email and upload relavent files. <br></br>3. Select pipeline and analysis options. <br></br>4. Click submit. You will reach a submission confirmation page. A results page will be sent to the email provided with links to download analysis results.<br></br> For more information, please refer to our <a href="https://github.gatech.edu/comgenomics2021/Team1-WebServer">GitHub</a> and <a href="https://compgenomics2021.biosci.gatech.edu/Team_I_Webserver">Wiki</a> pages.</p>
			</div>
		<p style="text-align:center;"> <img src="{% static 'foodbornePathogen/img/pipeline.jpg' %}" alt="pipeline" class="center">
	</main>
{% endblock %}
</body>
</html>

