<!DOCTYPE html>
<html lang="en">
{% extends 'foodbornePathogen/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Pipeline Information</title>
</head>
<body>
{% block content %}
	<main>
	<div class="home-intro text-center">
				<h2 class="welcome-title animated fadeInLeft">Pipeline Information</h2>
				<p class="animated fadeInRight">This foodborne pathogen analysis pipeline performs genomics analysis on <i style="font-style: italic;">Campylobacter jejuni</i> isolates. The full pipeline contains four steps: genome analysis, gene prediction, functional annotation, and comparative genomics. The pipeline can be run in full, as individual steps, or as any set of consecutive of steps.</p>
				<h2 class="welcome-title animated fadeInLeft">Instructions</h2>
				</div><!----><div class="home-intro text-left"  style="margin-left:250px; margin-right:250px; font-size:120%;">
				<p class="animated fadeInRight" style="text-align:right; line-height:0px;">
				<ol class="animated fadeInRight" style="list-style-type:decimal; margin-top:-70px;">
					<li>Access the pipeline steps you would like to run using the "Run Pipeline" button.</li>
					<li>Enter your email and upload required files.</li>
					
						<ul class="animated fadeInRight" style="list-style-type:circle">
							<li>Each isolate you wish to process must be uploaded as an individual .zip. You may upload multiple isolates.</li>
							<li>Each .zip must contain all dependencies required for that pipeline segment as shown in the table below.</li>
							<li>File extensions must match those in the table exactly.</li>
							<li>Parenthesized inputs are optional depending on whether the user has requested the corresponding outputs shown in the data dependecy chart below.</li>
							<li>All files must have the same basename as the zip file containing them, with the exception of FASTQ files.</li>
							<li>Paired-end read FASTQ files must be individually gunzipped as {isolateBasename}_1.fq.gz & {isolateBasename}_2.fq.gz, zipped into {isolateBasename}.zip which is zipped inside the isolate .zip.</li>
							<li>If only FASTQ files are required, the redundant nested .zip folder should be eliminated.</li>
		<p style="text-align:center;"><img src="{% static 'foodbornePathogen/img/FileTypes.jpg' %}" alt = "File Type Matrix" class="center" width=110%>
							<li>Empty dummy files to exemplify that data upload for various jobs:</li>
								<ul class="animated fadeInRight" style="list-style-type:square">
									<li><a href="static/dummy/GA/isolateName.zip">Full Pipeline</a></li>
									<li><a href="static/dummy/GP/isolateName.zip">Gene Prediction</a></li>
									<li><a href="static/dummy/FA/isolateName.zip">Functional Annotation</a></li>
									<li><a href="static/dummy/CG/isolateName.zip">Comparative Genomics</a></li>
								</ul>
						</ul>
					
					<li>Select pipeline and analysis options.</li>
					<li>Click "Submit Job".</li>
						<ul class="animated fadeInRight" style="list-style-type:circle">
							<li>Depending on the size of your upload, it may take a few minutes before you are redirected to a submission confirmation page. Do NOT navigate away from this page until the redirect is complete.</li>
							<li>An email will be sent to the address provided with a link to download analysis results.</li>
						</ul>
					<br></br>
					For more information on options, file types, and analysis methods, please refer to our <a href="https://github.gatech.edu/comgenomics2021/Team1-WebServer">GitHub</a> and <a href="https://compgenomics2021.biosci.gatech.edu/Team_I_Webserver">Wiki</a> pages. A diagram of the pipeline is shown below.
				</p>
			</div>
		<p style="text-align:center;"> <img src="{% static 'foodbornePathogen/img/FileDiagram.jpg' %}" alt="pipeline" class="center" width=90%>
		</ul>
	</main>
{% endblock %}
</body>
</html>

