<!DOCTYPE html>
<html lang="en">
{% extends 'foodbornePathogen/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Pipeline parameters</title>
    
	
</head>
<body>
{% block content %}
    <main>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% load static %}
             <style>
      table {
        border-collapse: separate;
        border-spacing: 5px 15px;
        margin-left: 350px; 
      }
      th {
        background-color: #3d9fdb;
        color: white;
      }
      th,
      td {
        width: 150px;
        text-align: center;
        border: 1px;
        padding: 4px;
      }
      h2 {
        color: #3d9fdb;
      }
    </style>
            <table border= "3">
            {{ user }}
            {{ upload }}
            </table>
            {% for stage in stages %}
            <hr width="61%">
                {# <img src="{% static 'foodbornePathogen/img/{{ stage.name }}_schematic.png' %}" alt="stage schematic"> #}
                <img src="{% static 'foodbornePathogen/img/test_im.png' %}" alt="stage schematic" style="margin-left:350px;">
                <br></br>
                <table border= "3">
                    {{ stage.form }}
                </table>
                
            {% endfor %}
            <input type="submit" value="Submit Job">
        </form>
    </main>
{% endblock %}
</body>
</html>
