<!DOCTYPE html>
<html lang="en">
{% extends 'foodbornePathogen/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Job Submitted</title>
    
</head>
<body>
    {% block content %}
    <main>
        <p>Your job has been submitted. You will receive an email at {{ userEmail }} with a download link when it is complete.</p>
        <p>If you do not receive an email, your data should eventually be visible at:</p>
        <p>https://team1.predict2021.biosci.gatech.edu/fbp/results/{{ job_id }}</p>
    </main>
    {% endblock %}
</body>
</html>
