<!DOCTYPE html>
<html lang="en">
{% extends 'foodbornePathogen/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Terms & Conditions</title>
</head>
<body>
    {% block content %}
    <main>
        <p>
            This server is a graduate student project for BIOL 7210 at Georgia Institute of Technology.
            Data uploaded to this site may be stored indefinitely.
            Maintenance of this website & the data contained herein is not guaranteed.
        </p>
    </main>
    {% endblock %}
</body>
</html>